<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Event Handling</title>
</head>

<body>

    <div id="exerciseApp" style="width: 50%;">
        <H3>{{exercise}}</H3>
        <hr>
        <ul v-for="(character, index) in characters">
            <li>{{character}}</li>
            <button @:click="deleteCharacter(index)">Delete</button>
            <button @:click="favoriteCharacter(character)">Favorite</button>
            <hr>
        </ul>

        <label for="name"></label>
        <input type="text" v-model="name" @keyup.enter = "addCharacter">
        <h1>{{name}}</h1>

        <hr>

        <h3>Favorite Characters</h3>

        <ul v-if="favoriteCharacters.length > 0">
            <li v-for="favoriteCharacter in favoriteCharacters">{{favoriteCharacter}}</li>
        </ul>
        <p v-else>No Favorite Characters</p>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue;

        const exerciseApp = createApp({
            data: () => ({
                name:'',
                exercise:'Add a favorite button to each character and render favorite characters in separate list and Bonus is create form to add new characters',
                characters: ['Zi', 'Za', 'Zo'],
                favoriteCharacters: [],

            }),
            methods: {
                addCharacter() {
                    this.characters.push(this.name);
                },

                deleteCharacter(index) {
                    this.characters.splice(index, 1);
                },

                favoriteCharacter(character) {
                    this.favoriteCharacters.push(character);
                    this.characters.splice(character, 1);
                }

            }
        }).mount("#exerciseApp")

    </script>



</body>

</html>