<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Exercise</title>
</head>

<body>
  <div id="exerciseApp">
    <h3>{{exercise.toUpperCase()}}</h3>
    <div style="width: 50%">
      <ul v-for="property in properties">
        <h3>Director:</h3>
        <p>{{property['director']}}</p>
        <hr>
        <h3>Lineup:</h3>
        <p v-for="member in property.lineup">{{member}}</p>
        <hr>
        <h3>Programming:</h3>
        <p>Duration: {{property['duration']}}</p>
        <p>Times Show: {{property['time']}}</p>
        <p v-if="property['audience'] < 50000">Audience: Bad -> {{property['audience']}}</p>
        <p v-else>Audience: Good -> {{property['audience']}}</p>

        <!-- Colocando "," entre as Strings de uma lista -->
        <h3>Test</h3>
        <p>
          <span v-for="(property, index) in properties">
            {{property.lineup}}{{index === properties.length - 1 ? '' : ','}}
          </span>
        </p>
      </ul>
    </div>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    const { createApp } = Vue;

    const exerciseApp = createApp({
      data: () => ({
          exercise:
            "Create a html page about your favorite TV show with data using for, if",
          properties: [
            {
              name: "Show Summer",
              director: "John Simmons",
              time: "3:00 PM",
              duration: "30 Minutes",
              lineup: ["Marie", "Josh", "Chris"],
              audience: 50000
            },
          ]
      }),
    }).mount("#exerciseApp")

  </script>
</body>

</html>