<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>

  <body>
    <h1>Hello Vue.js</h1>
    <div id="app">
      <p v-if="message.length % 2 === 0">Even: {{ message }}</p>
      <p v-else>Odd: {{ message }}</p>
      <ul v-for="item in listofNumbers">
        <li> {{item.id}} </li>
        <ul>
          <li v-for="number in item.list">{{number}}</li>
        </ul>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            message: "Hello it works",
            listofNumbers: [
              { name: 0, id: "981301f7-c5b1-4588-b5fe-97a775c1b4a9", list:[1,2,3] },
              { name: 1, id: "11e83e30-ece8-4b2b-bf45-e0c3ebc39c07", list:[1,2,3] },
              { name: 2, id: "10c3a237-e0fd-4578-baed-a858f04c5816", list:[1,2,3] },
              { name: 3, id: "5337317b-4b1b-41d6-8535-d29543553dd9", list:[1,2,3] },
              { name: 4, id: "f1edbfbe-a0ba-46ae-9d0b-216798c9ed9e", list:[1,2,3] },
            ],
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
